.calendar {
  padding: 0 13%;
}
.calendar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #abaaaa;
  width: calc(100% / 7);
  font-size: 15px;
}
.calendar .weeks li {
  font-weight: 400;
}
.calendar .days li {
  z-index: 1;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: transparent;
}
.days li.active {
  color: #ffffff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background-color: #648155;
}